<p id="notice"><%= notice %></p>

<p>
  <h2><strong>Name:</strong></h2>
  <%= @user.name %>
</p>

<p>
    <h2><strong>Email:</strong></h2>
  <%= @user.email %>
</p>

<p>
  <strong>Reviews:</strong>
  <ul>
      <% @user.reviews.each do |review| %>
    <li>
      <%= link_to review.comment, review %>
      <%= button_to "Edit Comment", edit_review_path %>
      <%= button_to "Delete Comment", destroy_review_path %>
    </li>
  </ul>
  <% end %>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
