<p id=”notice”><%= notice %></p>
<h1 class="header">Welcome to ANI</h1>
<div class="user_welcome">
  <h2>Welcome<%= link_to @user.name, user_path(@user) %></h2>
</div>
<div class="button">
<%= button_to "Log out", log_out_path, method: :delete %>
</div>
<hr>
<div class="logs">
  <%= link_to "Log-In", new_login_path %>
  <%= link_to "Sign-Up", new_user_path %>
</div>

<br>

<iframe width="600" height="480" src="https://www.youtube.com/embed/tqqusEyL76M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="feature">
<h3 id="pop">Popular anime</h3>
  <ol>
    <li></li>
  </ol>
</div>
<hr>
<h2 id="list">List of anime</h2>
<ol>
  <% @anime.each do |ani| %>
  <li>
    <img src=<%= ani.img_url %>>
    <h4><%= link_to ani.title, ani %></h4>
    <p><%= ani.summary %></p>

   </li>
  <% end %>
</ol>
