<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @anime.title %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @anime.episode %>
</p>

<p>
  <strong>Season:</strong>
  <%= @anime.season %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @anime.summary %>
</p>


<%= link_to 'Back', homes_path %>
