<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @anime.title %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @anime.episode %>
</p>

<p>
  <strong>Season:</strong>
  <%= @anime.season %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @anime.summary %>
</p>

<h3><%= link_to 'New Review', new_review_path %></h3>


<%= link_to 'Back', home_path %>
